<!--
Template: E contract
Compile : EJS [Effective JavaScript templating.]
-->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Zack Portforio</title>
        <!-- Bootstrap -->
        <link href="assets/css/bootstrap.css" rel="stylesheet">        
        <link href="assets/css/style.css" rel="stylesheet">      
        <style>
            .billing {                                              
                margin: 20px;
                text-align: center;
            }

            .billing > .total {
                border-top: 1px solid #ccc;
                border-bottom: 1px solid #ccc;
                padding: 20px;
                width: 50%; 
                margin: 0 auto; 
            }
        </style>  
    </head>
    <body>
        <div class="container">
            <div class="">
                <div>
                    <!-- <img src="assets/images/awn_logo.png" class="pull-right" style="width: 140px; margin-bottom: 20px;" /> -->
                    <div class="clearfix"></div>
                </div>
                <div class="text-justify">
                    <h4> <%= title %> </h4>
                </div>
            </div>
        </div>
    </body>
</html>